@use '../../style/libs/variable' as *;

.Welcome {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 100px 200px;  
    z-index: 1;
    @media (max-width: $width-xl) {
        padding: 20px 20px 40px 20px;
        max-width: 90%;
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        box-shadow: 0 0 20px rgba(192, 164, 235, 0.6);
        border-radius: 600px 30px;
        backdrop-filter: blur(1px); 
        z-index: -1;
        @media (max-width: $width-l) {
            border-radius: 100px 20px;
        }
    }
    h1 {
        font-size: 62px;
        margin-bottom: 100px;
        position: relative;
        z-index: 1;
        @media (max-width: $width-xl) {
            font-size: 32px;
            margin-bottom: 40px;
        }
        @media (max-width: $width-l) {
            font-size: 24px;
        }      
        @media (max-width: $width-m) {
            font-size: 18px;
        }    
    }

    h1::after {
        content: "";
        position: absolute;
        margin-top: 20px;
        top: 100%; 
        left: 50%;
        transform: translateX(-50%);
        width: 20%; 
        height: 3px;
        border-radius: 5px;
        background-color: rgba(192, 164, 235, 1);
        @media (max-width: $width-l) {
            margin-top: 7px;
            height: 2px;
        }
    }

    a {
        color: rgba(192, 164, 235, 1);
        &:hover {
            color: rgb(151, 116, 216);
        }
    }
    p {
    z-index: 1;
    font-weight: 300;
    font-size: 20px;
    font-family: 'Poppins';
    @media (max-width: $width-xl) {
        font-size: 16px;
        max-width: 80%;
    }
    @media (max-width: $width-l) {
        font-size: 12px;
        max-width: none;
    }}
    strong {
        @media (max-width: $width-xl) {
            font-size: 19px;
            }
        @media (max-width: $width-l) {
        font-size: 14px;
        }
        @media (max-width: $width-m) {
            font-size: 13px;
        }
    }
}

.contentHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}