@use '../../style/libs/variable' as *;

.Card {
    position: relative;
    margin-top: 100px;
    display: flex;
    max-width: 450px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 55px;
    border: solid 3px rgba(192, 164, 235, 0.8);
    @media (max-width:$screen-m) {
        width: 70%;
        max-width: 350px;
        flex-direction: column;
        margin-left: 50px;
    }
    @media (max-width:$screen-s) {
        width: 90%;
        border-radius: 40px;
        margin-left: 0;
    }
    @media (max-width:$screen-xs) {
        border-radius: 30px;
    }
    img {
        height: 350px;
        border-radius: 25px;
        position: absolute;
        bottom: 17%;
        left: -80px;
        @media (max-width:$screen-l) {
            bottom: 17%;
            left: -100px;
            border-radius: 800px;
            max-height: 200px;
            width: 200px;
            object-fit: cover;
            object-position: center;
            border: solid 10px rgba(192, 164, 235, 0.4);
        }
        @media (max-width:$screen-s) {
            left: 95px;
            bottom: 0;
            top: -75px;
            border-radius: 800px;
            max-height: 150px;
            width: 150px;
        }
        @media (max-width:$screen-xs) {
            left: 72px;
            bottom: 0;
            top: -75px;
            border-radius: 800px;
            max-height: 150px;
            width: 150px;
        }
    }
    &__content {
        margin-left: 150px;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        padding: 20px;
        object-fit: cover;
        object-position: center;
        text-wrap: pretty;
        @media (max-width:$screen-l) {
            margin-left: 90px;
            height: auto;
            gap: 20px;
            justify-content: flex-end;
            padding: 50px 20px;
        }
        @media (max-width:$screen-m) {
            padding: 35px 20px;
        }
        @media (max-width:$screen-s) {
            margin-left: 0;
            text-align: center;
            margin-top: 60px;
            padding: 20px;
        }
        p {
            font-size: 16px;
            @media (max-width:$screen-l) {
                font-size: 14px;
            }
            @media (max-width:$screen-xs) {
                font-size: 12px;
            }
        }
        h3 {
            @media (max-width:$screen-l) {
                font-size: 16px;
            }
            @media (max-width:$screen-xs) {
                font-size: 12px;
            }
        }
    }
}

.card__name {
    color: white;
    @media (max-width:$screen-xs) {
        text-align: center;
    }
}

.name {
    @media (max-width:$screen-l) {
        font-size: 14px;
    }
    @media (max-width:$screen-m) {
        font-size: 12px;
    }
}