@use '../../style/libs/variable' as *;

/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    z-index: 10;
    @media (max-width:$width-m) {
        transition: none;
        right: 0;
        top:0;
        left: 0;
        border-radius: 0;
        backdrop-filter: blur(19px);
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
    } 
    @media (max-width: $width-s) {
        height: 55px;
    }
}

.Title__name {
    display: flex;
    flex-direction: column;
    h2 {
        font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
        font-size: 32px;
        line-height: 1;
        font-style: italic;
        color: rgba(192, 164, 235, 1);
        z-index: 40;
        @media (max-width: $width-l) {
            font-size: 24px;
        }
        @media (max-width: $width-s) {
            font-size: 20px;
        }
        @media (max-width: $width-xs) {
            font-size: 18px;
        }       
    }
}

.first__name {
    font-weight: 300;
}

.last__name {
    font-weight: 700;
}

.logo {
    width: 80px;
    z-index: 99;
    @media (max-width:$width-m) {
        width: 65px;
    }
    @media (max-width:$width-s) {
        width: 50px;
    }
    @media (max-width:$width-xs) {
        width: 45px;
    }
}

.title__section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute; 
    z-index: 10;
    left: 50%; 
    padding: 10px 50px;
    transform: translateX(-45%);
    transition: backdrop-filter 0.3s ease-in-out, transform 0.3s ease-in-out;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        box-shadow: 0 0 8px rgba(192, 164, 235, 0.8);
        border-radius: 0 0 70px 70px;
        backdrop-filter: blur(1px); 
        z-index: -1;
        @media (max-width: $width-m) {
            display: none;
        }
    }
}
@media (max-width: $width-l) {
    .logo-in-nav {
        display: none;
    }

}
/* NAVIGATION */
.nav {
    position: absolute;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100vh;
    background: rgba(25, 21, 31, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    transition: transform 0.3s ease-in-out;
    border-radius: 0 70px 70px 0;
    @media (max-width: $width-s) {
        border-radius: 0;
        left: -100%;
        width: 100%;     
    }
    &__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        a {
            font-size: 24px;
        }
        img {
            margin-top: 3em;
            width: 75px;
            height: 75px;
            cursor: pointer;
        }
    }
    &__links {
        margin-top: -3em;
        gap: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        flex-grow: 1; 
    }
}

.nav--visible {
    transform: translateX(250px);
    @media (max-width: $width-s) {
        transform: translateX(100%);
    }
}

.nav:not(.nav--visible) ~ #hamburger {
    transform: translateX(0);
}

.hamburger-lines {
    display: block;
    height: 27px;
    width: 34px;
    position: absolute;
    left: 20px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: $width-s) {
        height: 18px;
        width: 22px;
        gap: 4px;
    }
  }

  .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: white;
  }

  .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .line1.open {
    transform: rotate(45deg);
}

.line2.open {
    transform: scaleY(0);
}

.line3.open {
    transform: rotate(-45deg);
}